<html>
    <head>
        <title>Yana's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Yana is the best Django Girl ever!</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Yana's first post</a></h2>
            <p>I love you baby.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Yana's second post</a></h2>
            <p>I love you too.</p>
        </div>
    </body>
</html>